@charset "UTF-8";
* {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
}

header {
  background-image: url("/assets/backgrounds/hero.jpg");
  height: 100vh;
}

.navbar-brand {
  font-size: 3rem;
}

nav a {
  color: white !important;
  font-size: 1.6rem;
}

.hero__heading h1 {
  color: white;
  font-size: 6rem;
  font-weight: 200;
}

.hero__text p {
  color: white;
  font-size: 1.8rem;
  font-weight: 100;
}

.hero__mouseclick img {
  margin-top: 25rem;
}

.category-input {
  background-color: #C7BFA4 !important;
  height: 14rem;
}

.category-input label {
  font-size: 2rem;
  color: #333333 !important;
  margin: 0;
}

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
input[type="checkbox"]:not(:checked) + label:before,
input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.6rem;
  width: 2rem;
  height: 2rem;
  border: 1px solid #CBCBCB;
  background: #f8f8f8;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}

/* checked mark aspect */
input[type="checkbox"]:not(:checked) + label:after,
input[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0px;
  left: 0.4rem;
  text-align: center;
  font-size: 1.8rem;
  color: #AA9B74 !important;
  line-height: 0.8;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

input[type="checkbox"]:checked + label:after {
  position: absolute;
  left: 0;
  top: 0.6rem;
  width: 2rem;
  height: 2rem;
  border: 1px solid #AA9B74 !important;
}

/* checked mark aspect changes */
input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* disabled checkbox */
input[type="checkbox"]:disabled:not(:checked) + label:before,
input[type="checkbox"]:disabled:checked + label:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #999999;
  background-color: #ddd;
}

input[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

input[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* accessibility */
input[type="checkbox"]:checked:focus + label:before,
input[type="checkbox"]:not(:checked):focus + label:before {
  border: inherit;
}

.products-btn button {
  background-color: #671C00 !important;
  color: white;
  border: none;
  padding: 1.8rem;
  font-weight: 100;
  letter-spacing: .2rem;
  font-size: 1.2rem;
  width: 20rem;
  border-radius: .5rem;
}

.products__top {
  height: 15rem;
  color: #414141 !important;
  padding: 0 9rem;
}

.products__top h6 {
  font-size: 2rem;
}

.products__top .horizontal {
  background-color: #CBCBCB;
  height: 0.3rem;
}

.counter {
  color: #AA9B74 !important;
}

.counter__top {
  font-size: 1.6rem;
}

.counter__bottom {
  font-size: 2rem;
  font-weight: 700;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__item {
  height: 37.6rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
  margin-right: 7%;
  position: relative;
}

.gallery__item--size, .gallery__item--product, .gallery__item--price {
  font-size: 1.6rem;
  color: #414141 !important;
}

.gallery__item--product {
  color: #AA9B74 !important;
}

.gallery__item-top {
  width: 30rem;
  position: absolute;
  top: 3rem;
}

.gallery__item-middle {
  position: absolute;
  top: 8rem;
}

.gallery__item-bottom {
  position: absolute;
  bottom: 3rem;
  width: 90%;
}

#women,
#men {
  display: none;
}

.about-main {
  height: 40rem;
  padding-top: 15rem;
}

section.about-us {
  background-image: url("/assets/backgrounds/about.jpg");
  background-repeat: no-repeat;
}

.about-us {
  padding-top: 8rem;
  color: white;
}

.about-us__border {
  border: 2px solid #AA9B74 !important;
  margin: 0 auto;
}

.about-us__heading h6 {
  padding: 3rem;
  font-size: 2rem;
}

.about-us__text p {
  font-size: 2rem;
  padding-bottom: 5rem;
}

.twitter__section {
  background-color: #535154;
  height: 7.2rem;
  color: white;
  padding-left: 8rem;
}

.twitter__section--text {
  font-size: 2rem;
  font-weight: 100;
}

footer {
  background-color: #414141;
  color: white;
  height: 34rem;
}

.footer-section {
  padding: 0 10rem;
  padding-top: 5rem;
}

.footer-left h6 {
  font-size: 3rem;
  font-weight: 100;
}

.footer-left p {
  font-size: 1.7rem;
  line-height: 1.9;
  font-weight: 100;
}

.footer-middle p {
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  margin-bottom: 2rem;
}

.footer-right__top a {
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
  font-weight: 100;
}

.footer-right__bottom p {
  font-size: 2.5rem;
  font-weight: 100;
}

.footer-bottom {
  margin: 5rem 0;
  font-size: 1.2rem;
  font-weight: 100;
}
/*# sourceMappingURL=main.css.map */