

// Theme Colors

$color-primary:#C7BFA4 !important;
$color-secondary:#AA9B74 !important;
$color-button-primary:#671C00 !important;
$color-grey-charcoal:#414141 !important;
$color-grey-iron:#CBCBCB;
$color-blackgrey-primary:#333333 !important;

*{
    font-size: 10px;
}
body{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin:0;
    
}

header{
    background-image: url('/assets/backgrounds/hero.jpg');
    height: 100vh;
}
.navbar-brand {
    font-size: 3rem;
}
nav a {
    color: white !important;
    font-size: 1.6rem;

}

.hero__heading h1 {
    color: white;
    font-size: 6rem;
    font-weight: 200;
}

.hero__text p{
    color: white;
    font-size: 1.8rem;
    font-weight: 100;
}

.hero__mouseclick img {
    margin-top: 25rem;
}

// CATEGORY/CHECKBOX SECTION

.category-input {
    background-color:$color-primary;
    height: 14rem;

    label {
        font-size: 2rem;
        color: $color-blackgrey-primary;
        margin: 0;
    }
    
}

//checkbox

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
input[type="checkbox"]:not(:checked) + label:before,
input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 0.6rem;
  width: 2rem; height: 2rem;
  border: 1px solid $color-grey-iron;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
input[type="checkbox"]:not(:checked) + label:after,
input[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0px; left: 0.4rem;
  text-align: center;
  font-size: 1.8rem;
  color: $color-secondary;
  line-height: 0.8;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

input[type="checkbox"]:checked + label:after{
    position: absolute;
    left:0; top: 0.6rem;
    width: 2rem; height: 2rem;
    border: 1px solid $color-secondary;
}


/* checked mark aspect changes */
input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
input[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
input[type="checkbox"]:disabled:not(:checked) + label:before,
input[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #999999;
  background-color: #ddd;
}
input[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
input[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
input[type="checkbox"]:checked:focus + label:before,
input[type="checkbox"]:not(:checked):focus + label:before {
  border: inherit;
}

// button

.products-btn button {
    background-color: $color-button-primary;
    color: white;
    border: none;
    padding:1.8rem;
    font-weight: 100;
    letter-spacing: .2rem;
    font-size: 1.2rem;
    width: 20rem;
    border-radius: .5rem;
}